//- carousel caption
mixin carousel-caption(item)
  .carousel-caption
    unless !item.h1
    unless !item.p
    unless !item.button
      p
        a.btn.btn-lg.btn-primary(href=item.button.url role="button") #{item.button.caption}

//- carousel
mixin carousel(id,items)
  .carousel.slide.carousel-dark(id="carousel-" + id ,data-bs-ride="carousel")
    //- Indicators
    .carousel-indicators
      each item,index in items
        if(index === 0)
          button.active(type="button", data-bs-target="#carousel-" + id, data-bs-slide-to=index, aria-current="true", aria-label="Slide " + (index + 1))
        else
          button(type="button", data-bs-target="#carousel-" + id, data-bs-slide-to=index, aria-label="Slide " + (index + 1))


    //- Wrapper for slides
    .carousel-inner()
      each item,index in items
        if(index === 0)
          .carousel-item.active
            .card
                .card-header.text-center
                    a(href=item.h target='_blank'  rel="noopener noreferrer" title=item.p )=item.p
                .card-body
                    img.img-fluid(src=item.image title=item.h  alt=item.p)
                    p.text-black=item.d
                    p
          +carousel-caption(item)
        else
          .carousel-item
            .card
                .card-header.text-center
                    a(href=item.h target='_blank'  rel="noopener noreferrer" title=item.p )=item.p
                .card-body
                    img.img-fluid(src=item.image title=item.h  alt=item.p)
                    p.text-black=item.d
                    p
          +carousel-caption(item)

    //-  Controls
    button.carousel-control-prev(data-bs-target="#carousel-" + id, data-bs-slide="prev", type="button")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.visualy-hidden Previous
    button.carousel-control-next(data-bs-target="#carousel-" + id, data-bs-slide="next", type="button")
      span.carousel-control-next-icon(aria-hidden="true")
      span.visualy-hidden Next

.card.mb4
  .card-header
    h2.card-title Website Projects
    p.card-text.
        These are some of the websites I have built. I have used a variety of technologies including HTML, CSS, JavaScript, and ASP.Net.
        I have also used a variety of frameworks including Bootstrap, jQuery, and Pug Templates.
  .card-body
    +carousel("Projects", projects)
  .card-footer
    p
