@page
@model mwhWebAdmin.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td><img src="@project.Image" alt="@project.Title" width="100" /></td>
                <td><a href="@project.Link" target="_blank">Visit @project.Title</a></td>
                <td>@project.Description</td>
            </tr>
        }
    </tbody>
</table>
